body {
    margin: 0;
    padding: 20px 0;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-serif;
    font-weight: 300;
}

.header {
    padding: 0 10px;
    color: #666;
    background-color: #EEE;
    text-align: center;
    line-height: 48px;
    height: 48px;
}

.footer {
    padding: 5px;
    font-style: italic;
    font-size: small;
    text-align: center;
}

#map {
    margin: 20px 0;
    border: 1px solid;
    height: 500px;
}

#loadingMsg {
    font-size: 25px;
    text-align: center;
    padding: 30px 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}